@charset "UTF-8";
.wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  max-width: 750px;
  margin: 0 auto;
  /*search*/
  /*banner*/
  /*公用标题样式*/
  /*车主有话说*/
  /*车主小视频*/
  /*热门厂商*/
  /*list.html*/
  /*classify*/
  /*care-videos*/
  /*footer*/
}
.wrapper .search {
  padding: 0.12rem 0.22rem;
  height: 0.88rem;
  background: #f6b900;
}
.wrapper .search input {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  height: 0.64rem;
  display: block;
  font-size: 0.28rem;
  color: #fff;
  line-height: 0.64rem;
  background-image: url(../images/search.png);
  background-size: 0.35rem 0.35rem;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
  border-radius: 0.32rem;
  padding-right: 0.3rem;
  text-indent: 1.5rem;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.wrapper .search input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .search input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .search input:-moz-placeholder {
  color: #fff;
}
.wrapper .search input::-moz-placeholder {
  color: #fff;
}
.wrapper .search input.active {
  background-position: 0.2rem center;
  text-indent: 0.1rem;
  padding-left: 0.6rem;
}
.wrapper .banner {
  width: 100%;
  height: 3.6rem;
}
.wrapper .banner .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  width: 0.36rem;
  height: 0.06rem;
  border-radius: 0;
  opacity: 1;
}
.wrapper .banner .swiper-pagination-bullet-active {
  background: #ffd500;
}
.wrapper .banner .swiper-container-horizontal > .swiper-pagination-bullets,
.wrapper .banner .swiper-pagination-custom,
.wrapper .banner .swiper-pagination-fraction {
  bottom: 0;
}
.wrapper .public-title {
  width: 100%;
  height: 1.02rem;
  line-height: 1.02rem;
  font-size: 0.36rem;
  color: #333333;
}
.wrapper .public-title a {
  display: inline-block;
  float: right;
  width: 1rem;
  height: 100%;
  background: url(../images/jt.png) no-repeat right center;
  background-size: 0.14rem 0.24rem;
}
.wrapper .say-con {
  padding: 0 0.22rem;
}
.wrapper .car-list ul {
  border-bottom: 1px solid #e5e5e5;
}
.wrapper .car-list li {
  width: 3.47rem;
  height: 3rem;
  display: inline-block;
  float: left;
  margin-bottom: 0.1rem;
}
.wrapper .car-list li img {
  display: block;
  width: 100%;
  height: 1.96rem;
}
.wrapper .car-list li .text {
  margin: 0.12rem 0;
}
.wrapper .car-list li .text h3 {
  font-size: 0.28rem;
  color: #333;
  line-height: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper .car-list li .text p {
  font-size: 0.24rem;
  color: #73757a;
  line-height: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper .car-list li:nth-child(2n) {
  float: right;
}
.wrapper .meaasge-list {
  overflow: hidden;
}
.wrapper .meaasge-list ul {
  padding: 0.23rem 0 0.1rem;
  border-bottom: 1px solid #e5e5e5;
}
.wrapper .meaasge-list li {
  height: 1.36rem;
  width: 100%;
  margin-bottom: 0.48rem;
  overflow: hidden;
}
.wrapper .meaasge-list li .img {
  width: 2.4rem;
  height: 1.36rem;
  float: left;
}
.wrapper .meaasge-list li .ipt {
  float: left;
  margin-right: 0.6rem;
  display: none;
}
.wrapper .meaasge-list li .ipt input {
  display: none;
}
.wrapper .meaasge-list li .ipt input:checked + label {
  background: url(../images/checkbox0.png) no-repeat center center;
  border: none;
}
.wrapper .meaasge-list li .ipt label {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  border: 2px solid #e5e5e5;
  display: inline-block;
  background: #fff;
  margin: 0.1rem auto;
}
.wrapper .meaasge-list li .text {
  float: right;
  width: 4.5rem;
}
.wrapper .meaasge-list li .text h3 {
  font-size: 0.28rem;
  color: #333;
  line-height: 0.36rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  word-break: break-all;
  margin-bottom: 0.35rem;
}
.wrapper .meaasge-list li .text p {
  line-height: 0.24rem;
  color: #b5b5b5;
  font-size: 0.22rem;
}
.wrapper .meaasge-list li .text p span {
  margin-right: 0.16rem;
}
.wrapper .meaasge-list li.active .ipt {
  display: block;
}
.wrapper .message {
  padding: 0 0.22rem;
}
.wrapper .hot-manufacturer {
  padding: 0 0.22rem;
  margin-bottom: 1.8rem;
}
.wrapper .hot-manufacturer .cs-list {
  width: 100%;
  font-size: 0.24rem;
  color: #333;
  overflow: auto;
  margin-bottom: 0.8rem;
}
.wrapper .hot-manufacturer .cs-list ul {
  width: 10000000%;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper .hot-manufacturer .cs-list ul li {
  margin-right: 0.66rem;
  width: 1.6rem;
  float: left;
}
.wrapper .hot-manufacturer .cs-list ul li div {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.wrapper .hot-manufacturer .cs-list ul li p {
  text-align: center;
  line-height: 0.62rem;
  height: 0.62rem;
  overflow: hidden;
}
.wrapper .hot-manufacturer .cs-list ul li button {
  width: 1.6rem;
  height: 0.6rem;
  border: 2px solid #f6b900;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0.24rem;
  color: #f6b900;
  text-align: center;
  line-height: 0.6rem;
  padding: 0;
  float: left;
}
.wrapper .hot-manufacturer .cs-list ul li button.active {
  color: #e5e5e5;
  border-color: #e5e5e5;
}
.wrapper .list-box {
  padding: 0.24rem 0.22rem;
  margin-bottom: 1rem;
  padding-top: 1.1rem;
}
.wrapper .list-box ul {
  border: none;
}
.wrapper .title-top {
  background: #f9f9f9;
  height: 0.88rem;
  border-bottom: 1px solid #cacaca;
  padding: 0 0.22rem;
  line-height: 0.88rem;
  color: #333;
  font-size: 0.36rem;
  text-align: center;
  position: fixed;
  width: 7.5rem;
  z-index: 10;
}
.wrapper .title-top a {
  width: 1rem;
  height: 100%;
  display: block;
  background: url(../images/jt2.png) no-repeat left center;
  background-size: 0.2rem 0.36rem;
  position: absolute;
  left: 0.22rem;
}
.wrapper .title-top button {
  width: 1rem;
  height: 0.46rem;
  line-height: 0.46rem;
  background: #f6b900;
  font-size: 0.24rem;
  color: #fff;
  border-radius: 3px;
  float: right;
  padding: 0;
  margin-top: 0.21rem;
  position: absolute;
  right: 0.22rem;
}
.wrapper .classify {
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.28rem;
  margin-bottom: 0.35rem;
}
.wrapper .classify ul {
  padding: 0.1rem 0 0;
}
.wrapper .classify ul li {
  height: 0.58rem;
  line-height: 0.58rem;
  margin-bottom: 0.28rem;
}
.wrapper .classify ul li .class-fy {
  float: left;
  margin-right: 0.4rem;
}
.wrapper .classify ul li .spa-box {
  float: left;
  width: 5.5rem;
  overflow: hidden;
  height: 0.58rem;
  overflow-x: scroll;
}
.wrapper .classify ul li .spa-box div span {
  padding: 0.06rem 0.2rem;
  color: #73757a;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.wrapper .classify ul li .spa-box div span.active {
  border-color: #f6b900;
  color: #f6b900;
  border-radius: 0.28rem;
}
.wrapper .tab-list {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.28rem;
  color: #73757a;
  padding-top: 0.9rem;
}
.wrapper .tab-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 1;
}
.wrapper .tab-list ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 0.28rem;
  color: #73757a;
}
.wrapper .tab-list ul li.active {
  color: #f6b900;
  border-bottom: 2px solid #f6b900;
}
.wrapper .tab-list2 li {
  position: relative;
}
.wrapper .tab-list2 li.active {
  color: #f6b900;
  border-bottom: none !important;
}
.wrapper .tab-list2 li.active:after {
  width: 0.6rem;
  height: 2px;
  background: #f6b900;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.3rem;
}
.wrapper footer {
  padding: 0 0.22rem;
  background: #f9f9f9;
  border-top: 1px solid #cacaca;
  height: 0.98rem;
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  z-index: 10;
}
.wrapper footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper footer ul li {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  position: relative;
}
.wrapper footer ul li.center a {
  width: 0.86rem;
  height: 0.74rem;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 0.1rem;
  background: #f6b900 url(../images/ic.png) no-repeat center center;
  background-size: 0.42rem 0.42rem;
}
.wrapper footer ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.wrapper footer ul li a img {
  display: block;
  margin: 0 auto;
  margin-top: 0.12rem;
}
.wrapper footer ul li span {
  display: block;
  font-size: 0.2rem;
  color: #666;
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  margin-left: -0.2rem;
}
.wrapper footer ul li i {
  min-width: 0.42rem;
  min-height: 0.3rem;
  background: #ff0000;
  border-radius: 0.15rem;
  position: absolute;
  display: block;
  right: 0.2rem;
  top: 0.03rem;
  font-size: 0.2rem;
  color: #fff;
  padding: 0 0.05rem;
}
.wrapper footer ul li:first-of-type span {
  color: #f6b900;
}
.wrapper footer ul li:nth-child(1) img {
  width: 0.51rem;
  height: 0.38rem;
}
.wrapper footer ul li:nth-child(2) img {
  width: 0.46rem;
  height: 0.34rem;
}
.wrapper footer ul li:nth-child(4) img {
  width: 0.48rem;
  height: 0.44rem;
}
.wrapper footer ul li:nth-child(5) img {
  width: 0.38rem;
  height: 0.42rem;
}

.list0 {
  display: none;
}
.list0:nth-child(1) {
  display: block;
}

.tx-box .tx {
  padding: 0 0.22rem;
  position: relative;
}
.tx-box .tx .img {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 100%;
  border: 1px solid #f5f5f5;
  position: absolute;
  top: -0.8rem;
}
.tx-box .tx .info {
  float: left;
  width: 64%;
  padding-left: 1.8rem;
}
.tx-box .tx .info div {
  width: 78%;
  height: 0.5rem;
  float: left;
  font-size: 0.24rem;
}
.tx-box .tx .info h3 {
  font-size: 0.28rem;
  color: #333;
  line-height: 0.6rem;
}
.tx-box .tx .info span {
  color: #b5b5b5;
  font-size: 0.24rem;
  float: left;
}
.tx-box .tx .info span:nth-child(2) {
  margin: 0 0.1rem;
}
.tx-box .tx button {
  border: 2px solid #f6b900;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0.24rem;
  color: #f6b900;
  text-align: center;
  padding: 0;
  float: right;
  margin-top: 0.34rem;
  padding: 0.09rem 0.13rem;
  margin-left: 0.3rem;
}
.tx-box .tx button.active {
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0.24rem;
  color: #b5b5b5;
  text-align: center;
}

#owner-videos .tab-list {
  padding-top: 0;
}
#owner-videos .list-box {
  padding-top: 0.4rem;
}

#info-list .meaasge-list ul {
  padding: 0;
}
#info-list .meaasge-list li {
  height: 1.6rem;
  width: 100%;
  margin-bottom: 0.24rem;
}
#info-list .meaasge-list li .oli {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.2rem;
  width: 100%;
  -moz-transition: 0.3s transform ease;
  -ms-transition: 0.3s transform ease;
  -webkit-transition: 0.3s transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
}
#info-list .meaasge-list li .oli .img {
  position: relative;
}
#info-list .meaasge-list li .oli .img .img-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.48rem;
  height: 0.48rem;
  margin: -0.24rem 0 0 -0.24rem;
}
#info-list .meaasge-list li .ipt {
  position: absolute;
}
#info-list .meaasge-list li.active .oli {
  -o-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}
#info-list .btn-box {
  width: 7.5rem;
  height: 1rem;
  border-top: 1px solid #cacaca;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: 0.3s transform ease;
  -ms-transition: 0.3s transform ease;
  -webkit-transition: 0.3s transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
}
#info-list .btn-box.active {
  z-index: 100;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#info-list .btn-box ul {
  display: flex;
}
#info-list .btn-box ul li {
  flex: 1;
  font-size: 0.28rem;
  color: #333333;
  line-height: 1rem;
  text-align: center;
  position: relative;
}
#info-list .btn-box ul li.active {
  color: #e14123;
}
#info-list .btn-box ul li:nth-child(1):after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 22%;
  width: 2px;
  height: 0.6rem;
  background: #e5e5e5;
}

/*# sourceMappingURL=common.css.map */
